.container-benefits {
  @extend %container;
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.benefits-list {
  @extend %markers;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.visually-hidden {
  @extend %visually-hidden;
}

.benefits-item:not(:nth-child(2n)) {
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    margin-right: 30px;
  }
}

.benefits-item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      padding-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.icon {
  text-align: center;
  height: 120px;
  padding-bottom: 30px;
  padding-top: 25px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits-name {
  margin-bottom: 10px;

  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondary-text-color;
}
