.address-flex {
  font-style: normal;

  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 69px;
  }
}

.address-map {
  color: $third-text-color;

  transition: color $duration $timing;

  &:hover,
  &:focus {
    @extend %focus;
    color: $accent-color;
  }
}

.footer-address-links {
  display: inline-block;
  text-decoration: none;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.mail-phone {
  color: $footer-adress-color;

  transition: color $duration $timing;

  &:hover,
  &:focus {
    @extend %focus;
    color: $accent-color;
  }
}

.footer-address {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 165px;
  }
}
