.header-address {
  margin-left: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 21px;
  }
}

.address-list {
  @extend %markers;
  @media screen and (min-width: 1200px) {
    @include flex(flex-start, center);
  }
}

.address-item {
  margin-right: 15px;
  @media screen and (min-width: 768px) {
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.address-item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.icon-mail,
.icon-phone {
  display: inline-block;
  margin-right: 10px;
}

.address-link {
  color: $primary-text-color;
  fill: $primary-text-color;
  font-style: normal;

  transition: color $duration $timing, fill $duration $timing;

  &:hover,
  &:focus {
    @extend %focus;
    color: $accent-color;
    fill: $accent-color;
  }
}
