.line {
  border-bottom: 1px solid #ececec;
}

.header-flex {
  @extend %container;
  @include flex(space-between, center);

  padding-bottom: 0;
  padding-top: 0;
}

.nav-link,
.address-link {
  position: relative;

  @include flex(flex-start, center);
  padding-top: 32px;
  padding-bottom: 32px;
  @extend %link;
  color: $secondary-text-color;
  transition: color $duration $timing;

  &:visited {
    color: $secondary-text-color;
  }

  &:hover,
  &:focus {
    @extend %focus;
    color: $accent-color;
  }
}
