.line {
  border-bottom: 1px solid #ececec;
}

.header-flex {
  @extend %container;
  padding-bottom: 0;
  padding-top: 0;
  @include flex(start, center);

  @media screen and (max-width: 767px) {
    height: 60px;
  }
}

.nav-link,
.address-link {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;
  @extend %link;
  color: $secondary-text-color;
  transition: color $duration $timing;

  @media screen and (min-width: 768px) {
    @include flex(flex-start, center);
  }

  &:visited {
    color: $secondary-text-color;
  }

  &:hover,
  &:focus {
    @extend %focus;
    color: $accent-color;
  }
}

.address-link {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
  }
}
